.title{
	background-color: blue;
	color: white;
}

.col-md-3{
	background-color: black;
}

#map {
    height: 100vh;
    bottom: 0px;
}

body{
	background-color: white;
}

.error{
	color: white;
}

#apiImage{
	width: 100px;
	height: 100px;
}
